@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 224 100% 95%;
    --foreground: 224 5% 10%;
    --card: 224 50% 90%;
    --card-foreground: 224 5% 15%;
    --popover: 224 100% 95%;
    --popover-foreground: 224 100% 10%;
    --primary: 224 88% 53%;
    --primary-foreground: 0 0% 100%;
    --secondary: 224 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 200 50% 80%;
    --muted-foreground: 224 5% 35%;
    --accent: 190 50% 80%;
    --accent-foreground: 224 5% 15%;
    --destructive: 0 100% 34%;
    --destructive-foreground: 224 5% 90%;
    --border: 224 30% 50%;
    --input: 224 30% 34%;
    --ring: 224 88% 53%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 224 50% 10%;
    --foreground: 224 5% 90%;
    --card: 224 50% 10%;
    --card-foreground: 224 5% 90%;
    --popover: 224 50% 5%;
    --popover-foreground: 224 5% 90%;
    --primary: 224 88% 53%;
    --primary-foreground: 0 0% 100%;
    --secondary: 224 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 200 50% 30%;
    --muted-foreground: 224 5% 60%;
    --accent: 190 50% 30%;
    --accent-foreground: 224 5% 90%;
    --destructive: 0 100% 34%;
    --destructive-foreground: 224 5% 90%;
    --border: 224 30% 34%;
    --input: 224 30% 34%;
    --ring: 224 88% 53%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html {
  scroll-behavior: smooth !important;
}
